
*.sln
.vs/idleProjectA/v16/.suo
.vs/idleProjectA/v16/Server/sqlite3/db.lock
.vs/idleProjectA/v16/Server/sqlite3/storage.ide
.vs/idleProjectA/v16/Server/sqlite3/storage.ide-shm
.vs/idleProjectA/v16/Server/sqlite3/storage.ide-wal
.vsconfig
Assembly-CSharp.csproj
Library
Logs
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Temp
/.vs/idleProjectA/FileContentIndex/06c565c5-d452-4cb8-bb00-5586af9f121f.vsidx
/.vs/idleProjectA/FileContentIndex/2d2f1d64-a007-4753-851d-f36ede4d0f33.vsidx
/.vs/idleProjectA/FileContentIndex/47114044-7ff6-4d96-8da3-47f1a3bfdc39.vsidx
/.vs/idleProjectA/FileContentIndex/9f75bbe2-4ce8-4986-a933-915d4ed5897a.vsidx
/.vs/idleProjectA/FileContentIndex/read.lock
/.vs/idleProjectA/v17/.suo
/.vs/idleProjectA/v17/Browse.VC.db
/.vs/idleProjectA/v17/Browse.VC.db-shm
/.vs/idleProjectA/v17/Browse.VC.db-wal
/.vs/idleProjectA/v17/Browse.VC.opendb
/.vs/idleProjectA/v17/fileList.bin
/*.csproj
/obj/Debug/*.cache
