*.svn-base
.svn
/.vs/b_client/FileContentIndex
/.vs/b_client/v17/*.suo
/.vs/b_client/v17/*.bin
/*.vsconfig
/*.csproj
/*.user
/Library/Artifacts/2b
/Library/Artifacts/2c
/Library/Artifacts/2e
/UserSettings
/Library
/Logs
/obj
/Temp
/Addressable.AddressablePath.UserBuildPath
