<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696968186119-2t3jqhks9f4b663tu5inun4bf7s347vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696968186119-2t3jqhks9f4b663tu5inun4bf7s347vl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696968186119-1er5q6c8acg9uijioh07je37ojiurq9i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7fpuJNSrG4F6Uypdb4Zq_wKHhb0NSSSo</string>
	<key>GCM_SENDER_ID</key>
	<string>696968186119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivid.ios.dote</string>
	<key>PROJECT_ID</key>
	<string>dote-a74d9</string>
	<key>STORAGE_BUCKET</key>
	<string>dote-a74d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696968186119:ios:34dbe79a41c2d38ca75da2</string>
</dict>
</plist>